@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body {
  font-size: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0px;
  margin: 0px;
  grid-template-areas: "header header header header" "main main main main" "foot foot foot foot";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "logo navi navi navi" "banner banner banner banner";
}

.banner {
  grid-area: banner;
  height: 40vh;
  background-color: #1b262c;
  background-size: cover;
  background-position: center;
  transition: border-radius 0.3s, opacity 0.3s;
  display: flex;
}

.banner .bannerImg {
  max-width: 300px;
  display: block;
  margin: auto;
}

.banner .bannerImg img {
  max-width: 200px;
  border-radius: 50%;
}

.banner .bannerContent {
  max-width: 300px;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: #fff;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #e8c346 100%);
}

.banner .bannerContent p {
  text-align: center;
}

.banner .bannerContent p span {
  display: block;
  margin: auto;
  width: auto;
  font-style: italic;
}

.mainLogo {
  max-width: 300px;
  grid-area: logo;
}

.mainLogo img {
  max-width: 200px;
  max-height: 80px;
  display: block;
  margin: auto;
}

main {
  grid-area: main;
  max-width: 1200px;
  margin: auto;
  color: #1b262c;
}

footer {
  display: grid;
  grid-area: foot;
  color: #fff;
  background-color: #1b262c;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.footer-1, .footer-2, .footer-copyright {
  padding: 10px;
}

.footer-1 .footer-menu li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.footer-1 .footer-menu li a {
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.footer-copyright {
  text-align: center;
  font-size: 12px;
  line-height: 2px;
  opacity: .8;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.footer-social-icons ul {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.footer-social-icons ul li {
  margin: 0 15px;
  list-style: none;
}

.footer-social-icons ul li a {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: #F0CA47;
  border-radius: 50%;
  font-size: 30px;
  color: #1b262c;
}

.footer-social-icons ul li a:hover {
  color: #fff;
  transition: ease-in-out .5s;
}

nav {
  grid-area: navi;
  justify-content: right;
  text-align: right;
  margin-right: 50px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

nav ul li a {
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.headerTitle {
  display: block;
  font-size: 1.2em;
  padding: 1em 0;
  text-transform: uppercase;
  font-weight: 700;
}

.keyword {
  font-style: italic;
  font-weight: 600;
}

h1 {
  background-color: #F0CA47;
  color: #fff;
  padding: .2em;
  text-align: center;
}

a {
  color: #37505C;
}

a:hover {
  color: #80A2B3;
}

.myanswer {
  color: #c00;
  display: block;
  margin-top: 10px;
}

.container {
  padding-top: 10px;
}

code {
  margin-top: 10px;
  display: block;
  font-style: italic;
}

code span {
  display: block;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.tc {
  display: block;
  margin-top: 50px;
  margin: auto;
  max-width: 400px;
  background: #fff;
  box-shadow: 2px 2px #efecec;
  padding: 10px;
}

.tc h2 {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 3px solid #F0CA47;
  max-width: 300px;
  display: block;
  margin: auto;
}

.tc li {
  padding: 10px;
}

.tc a {
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */